{% if 'rhino-row14' in group_names %}
ENV=wc1_prod_row14
{% endif %}
{% if 'rhino-row13' in group_names %}
ENV=wc1_prod_row13
{% endif %}
{% if 'rhino-row12' in group_names %}
ENV=wc1_prod_row12
{% endif %}
{% if 'rhino-row11' in group_names %}
ENV=wc1_prod_row11
{% endif %}
{% if 'rhino-row10' in group_names %}
ENV=wc1_prod_row10
{% endif %}
{% if 'rhino-row9' in group_names %}
ENV=wc1_prod_row9
{% endif %}
{% if 'rhino-row8' in group_names %}
ENV=wc1_prod_row8
{% endif %}
{% if 'rhino-row7' in group_names %}
ENV=wc1_prod_row7
{% endif %}
{% if 'rhino-row6' in group_names %}
ENV=wc1_prod_row6
{% endif %}
{% if 'rhino-row5' in group_names %}
ENV=wc1_prod_row5
{% endif %}
{% if 'rhino-row4' in group_names %}
ENV=wc1_prod_row4
{% endif %}
{% if 'rhino-row3' in group_names %}
ENV=wc1_prod_row3
{% endif %}
{% if 'rhino-row2' in group_names %}
ENV=wc1_prod_row2
{% endif %}
export APP=RHINO
export ENV
